In [1]:
import requests
import json

In [2]:
r = requests.get('https://back.fishow.ru/api/region/')
r.status_code

200

In [3]:
data = r.json()
json.loads(data['results'][0]['sities'])

['Барнаул', 'Бийск', 'Рубцовск']

In [51]:
data = {
    "username": "admin1",
    "email": "admin1@mail.ru",
    "password1": "081099asd",
    "password2": "081099asd"
}
r = requests.post('https://back.fishow.ru/api/rest-auth/registration/', json=data)
r.status_code

201

In [52]:
r.json()

{'token': 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjoxLCJ1c2VybmFtZSI6ImFkbWluMSIsImV4cCI6MTYxMzU0NzMyOCwiZW1haWwiOiJhZG1pbjFAbWFpbC5ydSJ9.sBXD2_ZiWei3WHZVrdKaQQmjngFSquCvWxKAbRSklcA',
 'user': {'pk': 1,
  'username': 'admin1',
  'email': 'admin1@mail.ru',
  'first_name': '',
  'last_name': ''}}

In [56]:
data = {
    "blogs": [],
    "reports": [],
    "news": [],
    "name": "asdf3asdf",
#     "description": "",
    "type": "laslsd",
#     "fish": "",
#     "moderators_share": "",
    "city_list": "lalaa",
    "stat": "lalaa",
#     "fish_rating": "",
#     "region_list": "",
#     "tour_base": "",
    "moderators": 1
}
r = requests.post('https://back.fishow.ru/api/waterplace_nature/', json=data)
r.status_code

201

In [57]:
r.json()

{'id': 2,
 'slug': 'laslsdasdf3asdf-kzqpzx',
 'blogs': [],
 'reports': [],
 'news': [],
 'name': 'asdf3asdf',
 'description': None,
 'type': 'laslsd',
 'fish': None,
 'moderators_share': None,
 'city_list': 'lalaa',
 'stat': 'lalaa',
 'fish_rating': None,
 'region_list': None,
 'tour_base': None,
 'moderators': 1}

In [59]:
data = {
    "waterplace_cost": [],
    "waterplace_nature": [2],
    "name": "123laa1a",
    "stat": "313sdf2asf",
#     "tourbases": "",
#     "descriptions": "",
    "sities": "sdfa4sdf",
    "representatives": [1]
}

r = requests.post('https://back.fishow.ru/api/region/', json=data)
r.status_code

500

In [42]:
r.json()

{'id': 1,
 'slug': '',
 'waterplace_cost': [],
 'waterplace_nature': [],
 'name': 'asdfasdf',
 'stat': 'lalaa',
 'tourbases': None,
 'descriptions': None,
 'sities': None,
 'representatives': []}

In [24]:
from pytils.translit import slugify
import requests
from tqdm.notebook import tqdm
import pandas as pd
from json import load, loads
import re

In [65]:
data_path = "waterplaces_v2.csv"
data = pd.read_csv(data_path)
data[~pd.isnull(data['stat'])]

,waterplace,type,stat
0,Абакан,Река,"{""main"": {""X"": {""name"": ""\u041c\u0435\u0441\u0..."
1,Ай,Река,"{""main"": {""X"": {""name"": ""\u041c\u0435\u0441\u0..."
2,Айдыкуль,Озеро,"{""main"": {""X"": {""name"": ""\u041c\u0435\u0441\u0..."
3,Акатовское,Озеро,"{""main"": {""X"": {""name"": ""\u041c\u0435\u0441\u0..."
4,Аксай,Река,"{""main"": {""X"": {""name"": ""\u041c\u0435\u0441\u0..."
...,...,...,...
642,Яренга,Река,"{""main"": {""X"": {""name"": ""\u041c\u0435\u0441\u0..."
643,Яровое,Озеро,"{""main"": {""X"": {""name"": ""\u041c\u0435\u0441\u0..."
644,Яуза,Река,"{""main"": {""X"": {""name"": ""\u041c\u0435\u0441\u0..."
645,Яузское,Водохранилище,"{""main"": {""X"": {""name"": ""\u041c\u0435\u0441\u0..."
646,Ячменка,Река,"{""main"": {""X"": {""name"": ""\u041c\u0435\u0441\u0..."

In [66]:
fish_dt = pd.read_csv('rivers_fishs_good.csv')
del fish_dt['Unnamed: 0']
fish_dt

,waterplace,fishs
0,408-й км озеро,"["""", """", ""\u041e\u043a\u0443\u043d\u044c""]"
1,5-й карьер,"["""", """", ""\u041a\u0430\u0440\u0430\u0441\u044c..."
2,Абай река (приток Коксы),"["""", """"]"
3,Абакан река,"["""", """"]"
4,Аба река (приток Томи),"["""", """"]"
...,...,...
4358,Яхра река,"["""", """"]"
4359,Яхробольское озеро,"["""", """", ""\u041a\u0430\u0440\u0430\u0441\u044c..."
4360,Яхрома река (приток Сестры),"["""", """"]"
4361,Яхта река,"["""", """"]"
4362,Ячменка река (приток Волги),"["""", """"]"

In [67]:
def parse_name(name):
    try:
        name = re.sub("[\(\[].*?[\)\]]", "", name)
        name = name.replace(',', ' ').replace('  ', ' ')
        name = name.strip()
        return name
    except Exception as e:
        return None
    
def get_type(name):
    if not name or pd.isnull(name):
        return None
    if name.find('река') > -1:
        return (parse_name(name.replace('река', '')), 'Река')
    if name.find('озеро') > -1:
        return (parse_name(name.replace('озеро', '')), 'Озеро')
    if name.find('пруд') > -1:
        return (parse_name(name.replace('пруд', '')), 'Пруд')
    if name.find('карьер') > -1:
        return (parse_name(name.replace('карьер', '')), 'Карьер')
    if name.find('водохранилище') > -1:
        return (parse_name(name.replace('водохранилище', '')), 'Водохранилище')
    if name.find('залив') > -1:
        return (parse_name(name.replace('залив', '')), 'Залив')
    if name.find('ерик') > -1:
        return (parse_name(name.replace('ерик', '')), 'Ерик')
    if name.find('озера') > -1:
        return (parse_name(name.replace('озера', '')), 'Гиппсленд')

In [68]:
types = []
names = []
for i, row in tqdm(fish_dt.iterrows()):
    result = get_type(row['waterplace'])
    if result:
        names.append(result[0])
        types.append(result[1])
    else:
        if not pd.isnull(row['waterplace']) and row['waterplace'].find('Волга') > -1:
            names.append('Волга')
            types.append('Река')
        else:
            names.append(None)
            types.append(None)
fish_dt['Название'] = names
fish_dt['Тип'] = types

HBox(children=(FloatProgress(value=1.0, bar_style='info', max=1.0), HTML(value='')))

In [69]:
fish_dt = fish_dt[~pd.isnull(fish_dt['Тип'])]

In [70]:
fish_dt = fish_dt[fish_dt['Название'].isin(data['waterplace'])]

In [71]:
del fish_dt['waterplace']
fish_dt['waterplace'] = fish_dt['Название']
fish_dt['type'] = fish_dt['Тип']
del fish_dt['Название']
del fish_dt['Тип']

In [75]:
new_data = data.merge(fish_dt, on=['waterplace', 'type'])
new_data

,waterplace,type,stat,fishs
0,Абакан,Река,"{""main"": {""X"": {""name"": ""\u041c\u0435\u0441\u0...","["""", """"]"
1,Ай,Река,"{""main"": {""X"": {""name"": ""\u041c\u0435\u0441\u0...","["""", """"]"
2,Айдыкуль,Озеро,"{""main"": {""X"": {""name"": ""\u041c\u0435\u0441\u0...","["""", """", ""\u0412\u043e\u0431\u043b\u0430"", ""\u..."
3,Акатовское,Озеро,"{""main"": {""X"": {""name"": ""\u041c\u0435\u0441\u0...","["""", """", ""\u0412\u043e\u0431\u043b\u0430"", ""\u..."
4,Аксай,Река,"{""main"": {""X"": {""name"": ""\u041c\u0435\u0441\u0...","["""", """", ""\u0429\u0443\u043a\u0430""]"
...,...,...,...,...
4744,Ястребиное,Озеро,NaN,"["""", """", ""\u0412\u043e\u0431\u043b\u0430"", ""\u..."
4745,Ятвинка,Река,NaN,"["""", """"]"
4746,Яхробольское,Озеро,NaN,"["""", """", ""\u041a\u0430\u0440\u0430\u0441\u044c..."
4747,Яхрома,Река,NaN,"["""", """"]"
4748,Яхта,Река,NaN,"["""", """"]"

In [77]:
new_data = new_data.drop_duplicates()
new_data

,waterplace,type,stat,fishs
0,Абакан,Река,"{""main"": {""X"": {""name"": ""\u041c\u0435\u0441\u0...","["""", """"]"
1,Ай,Река,"{""main"": {""X"": {""name"": ""\u041c\u0435\u0441\u0...","["""", """"]"
2,Айдыкуль,Озеро,"{""main"": {""X"": {""name"": ""\u041c\u0435\u0441\u0...","["""", """", ""\u0412\u043e\u0431\u043b\u0430"", ""\u..."
3,Акатовское,Озеро,"{""main"": {""X"": {""name"": ""\u041c\u0435\u0441\u0...","["""", """", ""\u0412\u043e\u0431\u043b\u0430"", ""\u..."
4,Аксай,Река,"{""main"": {""X"": {""name"": ""\u041c\u0435\u0441\u0...","["""", """", ""\u0429\u0443\u043a\u0430""]"
...,...,...,...,...
4744,Ястребиное,Озеро,NaN,"["""", """", ""\u0412\u043e\u0431\u043b\u0430"", ""\u..."
4745,Ятвинка,Река,NaN,"["""", """"]"
4746,Яхробольское,Озеро,NaN,"["""", """", ""\u041a\u0430\u0440\u0430\u0441\u044c..."
4747,Яхрома,Река,NaN,"["""", """"]"
4748,Яхта,Река,NaN,"["""", """"]"

In [78]:
new_data.to_csv('waterplaces_v3.csv', index=False)

In [101]:
fishs = []
i = 0
for i, row in new_data.iterrows():
    fishs_ = json.loads(row['fishs'])
    fishs_ = list(set(fishs_))
    fishs_ = sorted(fishs_)
    if '' in fishs_:
        fishs_.remove('')
    fishs.append(json.dumps(fishs_))
new_data['fishs'] = fishs

C:\Users\Xiaomi\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [103]:
new_data.to_csv('waterplaces_v4.csv', index=False)

In [104]:
data_path = "regions_v2.csv"

data = pd.read_csv(data_path).values
waterplaces_map = {}
for i in tqdm(range(len(data))):
    row = {
        'name': data[i][0],
        'stat': data[i][1],
        'sities': data[i][2],
    }
    waterplaces = loads(data[i][3])
    r = requests.post('https://back.fishow.ru/api/region/', json=row)
    slug = r.json()['slug']
    for waterplace in waterplaces:
        key = (waterplace['type'], waterplace['waterplace'])
        if not key in waterplaces_map:
            waterplaces_map[key] = []
        waterplaces_map[key].append(slug)

HBox(children=(FloatProgress(value=0.0, max=82.0), HTML(value='')))

In [105]:
data_path = "waterplaces_v4.csv"

data = pd.read_csv(data_path).values

for i in tqdm(range(len(data))):
    key = (data[i][1], data[i][0])
    slugs = []
    if key in waterplaces_map:
        slugs = waterplaces_map[key]
    row = {
        'blogs': [],
        'news': [],
        'name': data[i][0],
        'type': data[i][1],
        'stat': data[i][2] if not pd.isnull(data[i][2]) else "{}",
        'regions': slugs,
        'fish': data[i][3]
    }
#     print(slug)
    r = requests.post('https://back.fishow.ru/api/waterplace_nature/', json=row)

HBox(children=(FloatProgress(value=0.0, max=3844.0), HTML(value='')))

In [6]:
waterplaces = requests.get('https://back.fishow.ru/api/waterplace_nature/').json()
waterplaces

{'count': 0, 'next': None, 'previous': None, 'results': []}

In [5]:
len(waterplaces['results'])

8