In [1]:
import pandas as pd
from tqdm.notebook import tqdm
import matplotlib.pyplot as plt
import numpy as np

In [6]:
dt = pd.read_csv('forecast1.csv', sep=';')
dt[['day_temp', 'day_pressure', 'day_wind']].describe()

           day_temp  day_pressure      day_wind
count  30521.000000  30521.000000  30521.000000
mean       9.887618    740.352806      3.155041
std       12.342970     31.776627      2.051422
min      -43.000000    565.000000      0.000000
25%        1.000000    739.000000      2.000000
50%       10.000000    748.000000      3.000000
75%       20.000000    755.000000      4.000000
max       41.000000    785.000000     44.000000